{% extends 'base.html.twig' %}

{% block title %}Battle-Project - Accueil
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('/css/battle/index.css')}}">
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/battle/index.js') }}" defer></script>
{% endblock %}

{% block body %}
	<h1 class="text-center mt-5 primary-color"><span class="secondary-color">B</span>attle<span class="secondary-color">P</span>roject</h1>
	<h2 class="text-center mt-2 primary-color">Liste des joueurs</h2>

	{# Show Modal Add Player #}
	<button type="button" class="btn btn-success d-block mx-auto mb-3" data-toggle="modal" data-target="#addPlayerModal">
		<i class="fas fa-plus-circle"></i> Ajouter un joueur
	</button>
	<div class="d-block text-center">
		<a href="{{ path('fight') }}" class="btn btn-primary text-center mb-3">Organiser un combat</a>
	</div>
	{# List Player #}
	<div class="list-player row w-100 d-flex justify-content-around">
		{% for player in players %}
			<div class="col-12 col-sm-6 col-xl-3">
				<div class="card mb-4 mx-auto w-75">
					<img class="card-img-top p-2" src="{{ asset('img/player_icon/' ~ player.img) }}" alt="{{ player.name }} image">
					<div class="card-body text-center">
						<h3 class="card-title">{{ player.name }}</h3>

							<p class="my-0">{{ player.life }} <i class="fas fa-heart text-danger"></i></p>

							<div class="row">
								<div class="col-6">
									<p class="my-0">Dégâts {{ player.damage }} <i class="fas fa-magic text-warning"></i></p>
								</div>
								<div class="col-6">
									<p class="my-0">Init. {{ player.initiative }} <i class="fas fa-info-circle text-info"></i></p>
								</div>
								<div class="col-6">
									<p class="my-0">Agi. {{ player.agility }} <i class="fas fa-running text-secondary"></i></p>
								</div>
								<div class="col-6">
									<p class="my-0">Mena. {{ player.threat }} <i class="fas fa-skull-crossbones text-danger"></i></p>
								</div>
							</div>						
						<button type="button" class="btn btn-danger mt-2" data-toggle="modal" data-target="#deleteModal{{ player.id }}">
							Supprimer
						</button>

						<!-- Modal -->
						<div class="modal fade" id="deleteModal{{ player.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModallLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="deleteModallLabel">Supprimer {{ player.name }}</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<p>Êtes vous sûr de vouloir supprimer le joueur {{ player.name }} ? Vous ne pourrez pas revenir en arrière</p>
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
									<a class="btn btn-danger" href="{{ path('delete_player', {'id': player.id }) }}">Confirmer</a>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	{# Modal Add Player #}
	<div class="modal fade" id="addPlayerModal" tabindex="-1" role="dialog" aria-labelledby="addPlayerModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addPlayerModalLabel">Ajouter un joueur</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body form-group text-center">
					{{ form_start(addPlayerForm) }}
						{{ form_row(addPlayerForm.name) }}

						{{ form_label(addPlayerForm.life) }}
						<p id="range-life-value" class="my-0">15</p>
						{{ form_widget(addPlayerForm.life) }}

						{{ form_label(addPlayerForm.damage) }}
						<p id="range-damage-value" class="my-0">3</p>
						{{ form_widget(addPlayerForm.damage) }}

						{{ form_label(addPlayerForm.initiative) }}
						<p id="range-initiative-value" class="my-0">8</p>
						{{ form_widget(addPlayerForm.initiative) }}

						{{ form_label(addPlayerForm.agility) }}
						<p id="range-agility-value" class="my-0">8</p>
						{{ form_widget(addPlayerForm.agility) }}

						{{ form_label(addPlayerForm.threat) }}
						<p id="range-threat-value" class="my-0">8</p>
						{{ form_widget(addPlayerForm.threat) }}
						
						{{ form_row(addPlayerForm.img) }}
						<div class="row">
							<div class="col-lg-4 col-6 mt-2">
								<img id="img-choice1" class="p-1"  src="{{ asset('img/player_icon/elf.png')}}" alt="Elfe" data-attribute="elf">
							</div>
							<div class="col-lg-4 col-6 mt-2">
								<img id="img-choice2" class="p-1"  src="{{ asset('img/player_icon/helmet.png')}}" alt="Chevalier" data-attribute="helmet">
							</div>
							<div class="col-lg-4 col-6 mt-2">
								<img id="img-choice3" class="p-1"  src="{{ asset('img/player_icon/old_wizard.png')}}" alt="Vieux Sorcier" data-attribute="old_wizard">
							</div>
							<div class="col-lg-4 col-6 mt-2">
								<img id="img-choice4" class="p-1"  src="{{ asset('img/player_icon/warrior.png')}}" alt="Guerrier" data-attribute="warrior">
							</div>
							<div class="col-lg-4 col-6 mt-2">
								<img id="img-choice5" class="p-1"  src="{{ asset('img/player_icon/wizard.png')}}" alt="Sorcier" data-attribute="wizard">
							</div>
							<div class="col-lg-4 col-6 mt-2">
								<img id="img-choice6" class="p-1"  src="{{ asset('img/player_icon/viking.png')}}" alt="Viking" data-attribute="viking">
							</div>
						</div>						
					
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
					{{ form_row(addPlayerForm.save) }}
					{{ form_end(addPlayerForm) }}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
